.landing-head {
    height: 100px;
}

.landing-body {
    background-color: rgb(235, 202, 119);
    margin: 30px 0px 30px 0px;
}

.landing-head,
.landing-footer {
    background-color: black;
}

.landing-head__navbar li,
.landing-footer {
    color: white;
}

.landing-head__navbar>li {
    list-style-type: none;
    /* float: right; */
    display: inline;
    padding: 20px;
}

.landing-body__title {
    text-align: center;
}

.landing-body__contents {
    display: flex;
}

.landing-body__contents--img {
    margin-left: 5%;
    width: 50%;
}

.landing-body__contents--intro div {
    margin-bottom: 10px;
}


/* span에 margin을 지정합니다.(inline태그는 margin-top, margin-bottom속성이 적용되지않습니다.) */

.landing-footer {
    text-align: center;
    height: 20vh;
    line-height: 20vh;
}


/* TODO : VH는 무엇인가 */


/* 중앙정렬관련 참고 https://coderap.tistory.com/539 */

.btn {
    background-color: coral;
    border-color: coral;
}