header{
  text-align: center;
  height:81px;
}
header h1{
  position:absolute;
  left:50px;
  top:0;
  padding:14px 0 0;
}

/* 사용자가 로고를 클릭할때를 생각하면 a로 잡아야함 */
/* TODO 디스플레이 블락은 뭘 하는 애인가 */
/* 이미지에서 px는 이미지 시작 부분 */
/* 이미지는 크기대로 가져간다 위 아래 여백도 생각해서 px 계산*/
/* 헤더 위로 공간이 있어야 하므로 헤더에 패딩을 준다 */
header h1 a{
  width:110px;
  height:48px;
  display:block;
  color:transparent;
  background:url(./imges/sp_com.png) no-repeat -300px 0;
}

header .spot{
  position:absolute;
  right:50px;
  top:0;
}

/* float text-aling center가 안먹힘 
  디스플레이 인라인블럭은 코드상의 줄 내림이 있을경우 스페이스 발생
  클릭 영역을 넓히는 게 좋다. 
*/
header .lnb li{
  display: inline-block;
}
/* TODO line-height 뭐하는 놈이지 
줄간격을 주게 되면 텍스트 한줄은 가운대로 온다고 함
*/
header .lnb li a{
  display: block;
  height:81px;
  padding:0 35px;
  font-size:17px;
  color:#333;
  line-height:81px;
}